[*.cs]

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable:none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = silent

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = true:silent

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent
